<section type="button" class="card">
  <div class="card-content">
    <div class="card-title">Edit employee detail</div>

    <form [formGroup]="fg">
      <div class="row">

        <div class="col s4">
          <label for="first_name">first_name</label>
          <input id="first_name" type="text" formControlName="first_name">
          {{fg.get('first_name').valid}}
          <div *ngIf="fg.get('first_name').hasError('required') && fg.get('first_name').dirty">Please enter a name</div>
        </div>

        <div class="col s4">
          <label for="last_name">last_name</label>
          <input id="last_name" type="text" formControlName="last_name">
          {{fg.get('last_name').valid}}
          <div *ngIf="fg.get('last_name').hasError('required') && fg.get('last_name').dirty">Please enter a name</div>
        </div>

        <div class="col s4">
          <label for="email">email</label>
          <input id="email" type="text" formControlName="email">
          {{fg.get('email').valid}}
          <div *ngIf="fg.get('email').hasError('required') && fg.get('email').dirty">Please enter a name</div>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <label for="hourly_wage">hourly_wage</label>
          <input id="hourly_wage" type="text" formControlName="hourly_wage">
          {{fg.get('hourly_wage').valid}}
          <div *ngIf="fg.get('hourly_wage').hasError('required') && fg.get('hourly_wage').dirty">Please enter a name</div>
        </div>
      </div>

      <button type="button" class="btn" (click)="deleteClicked()"
        [class.disabled]="false">Delete</button>
      <button type="button" class="btn" (click)="saveClicked()"
        [class.disabled]="false">Save</button>
      <button type="button" class="btn" (click)="cancelClicked()"
        [class.disabled]="false">Cancel</button>

    </form>

  </div>
</section>
