<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Admin System</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/emp-list">Employee List</a></li>
      <li><a routerLink="/emp-man">Employee Management</a></li>
      <li><a routerLink="/emp-search">Employee Search</a></li>
      <li><a routerLink="/fruit">Fruit Basket</a></li>
      <li><a routerLink="/videos">Video Statistics</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
